dist/
bower_components/
node_modules/

# Custom extension manifest
extension-*.json

# VSIX Packages (vset output)
*.vsix

#npm log
npm-debug.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

#?
.DS_Store
.taskkey